.sidebar {
  width: 250px;
  background-color: #f0f0f1;
  color: rgb(255, 255, 255);
  height: 100vh;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  box-shadow: 1px 0 5px rgba(0,0,0,0.2);
}

.sidebar-header h2 {
  margin-bottom: 25px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-section-title {
  margin-top: 25px;
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #5e859d;
  text-transform: uppercase;
}

.sidebar-menu li {
  margin: 12px 0;
}

.sidebar-menu a {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #13161a;
  padding: 12px;
  border-radius: 6px;
  font-size: 16px;
  transition: 0.25s ease;
}

.sidebar-menu a:hover {
  background-color: #1c3c62;
  color: #fff;
  transform: translateX(3px);
}

.icon {
  font-size: 18px;
}

.logout a {
  color: #fdfdfd;
}

.logout a:hover {
  background-color: #8b1e1e;
  color: white;
}
